.setupForm__container {
    width: 25vw;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: 1px solid lightblue;
    box-shadow: 3px 3px 2px lightblue;
}

.submitButton {
    display: inline-block;
    width: 100%;
}

.submitButton>button {
    display: block;
    margin: 10px auto;
    background-color: rgb(117, 122, 232);
    padding: 10px;
    color: white;
    border: none;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 10px;
}

.submitButton>button:hover {
    cursor: pointer;
}

@media (max-width: 1550px) {
    .setupForm__container {
        width: 40vw;
    }
}