.installment__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.installment__container h3 {
    width: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #0B4361;
}

.installment__container h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #0B4361;
}

.installment__container button {
    padding: 1rem;
    width: 10rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(58, 58, 221);
    color: white;
    border: none;
    box-shadow: 5px 5px 10px lightgoldenrodyellow;
}

.installment__container button:hover {
    cursor: pointer;
}

.installment__info {
    width: 40%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 0.5rem
}

.installment__info__highlight {
    color: blue;
    text-decoration: underline;
}